button:hover {
    cursor: pointer;
} 

#msg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    font-family: 'galmuri11';
    font-size: 32px;
}

.PageTitle {
    position: relative;
    width: 100%;
    height: 135px;
    border-radius: 25px;
    background-color: #1A2029;
}

.PageConents {
    width: calc(100% - 50px);
    min-height: calc(100% - 50px - 135px);
    padding: 25px 25px;
}

.SubTitle {
    font-family: 'galmuri11';
    font-size: 40px;
}

.SeriesContainer {
    height: 202px;
    width: 100%;
    margin: 15px 0 25px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 25px;
    overflow-x: scroll;
}

.SeriesBtn {
    position: relative;
    flex-shrink: 0;
    height: 100%;
    width: 270px;
    border: 0px none;
    border-radius: 25px;
    background-color: #1A2029;
    font-family: 'galmuri11';
}

.SeriesBinder {
    position: absolute;
    top: 25px;
    right: 25px;
    height: 24px;
    width: 24px;
    border-radius: 12px;

}

.SeriesTag {
    position: absolute;
    left: 25px;
    bottom: 25px;
}

.SeriesTag>img {
    float: left;
    height: 64px;
    width: 64px;
    margin-bottom: 5px;
}

.SeriesTag>p {
    font-size: 36px;
    color: white;
}

.PostContainer {
    display: flow-root;
}

.PostList {
    min-height: 846px;
    float: left;
}

.SearchManager {
    min-height: 846px;
    width: calc(100% - 740px - 25px - 50px);
    padding: 0 25px;
    float: right;

}

#BlogTitle {
    position: absolute;
    bottom: 25px;
    left: 50px;
    font-size: 64px;
    font-family: 'galmuri11';
    float: left;
    background: linear-gradient(110deg, #FFD467 0%, #88E4EA 25%, #E869B5 50%, #CC86E4 75%, #6989E5 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#BlogTitle>span {
    background: white;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#CurTitle {
    position: absolute;
    bottom: 25px;
    right: 50px;
    font-size: 32px;
    font-family: 'galmuri11';
    float: right;
    color: white;
}