button:hover {
    cursor: pointer;
} 

#msg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    font-family: 'galmuri11';
    font-size: 32px;
}

.PageTitle {
    position: relative;
    width: 100%;
    height: 135px;
    border-radius: 25px;
    background-color: #1A2029;
}

.PageConents {
    width: calc(100% - 50px);
    min-height: calc(100% - 50px - 135px);
    padding: 25px 25px;
}

.SubTitle {
    font-family: 'galmuri11';
    font-size: 40px;
}

.SeriesContainer {
    height: 202px;
    width: 100%;
    margin: 15px 0 25px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 25px;
    overflow-x: scroll;
}

.SeriesBtn {
    position: relative;
    flex-shrink: 0;
    height: 100%;
    width: 270px;
    border: 0px none;
    border-radius: 25px;
    background-color: #1A2029;
    font-family: 'galmuri11';
}

.SeriesBinder {
    position: absolute;
    top: 25px;
    right: 25px;
    height: 24px;
    width: 24px;
    border-radius: 12px;
}

.SeriesTag {
    position: absolute;
    left: 25px;
    bottom: 25px;
}

.SeriesTag>img {
    float: left;
    height: 64px;
    width: 64px;
    margin-bottom: 5px;
}

.SeriesTag>p {
    font-size: 36px;
    color: white;
}

.PostContainer {
    display: flow-root;
    margin-top: 15px;
}

.PostList {
    min-height: 846px;
    max-height: calc((160px + 25px) * 10);
    float: left;
    display: flex;
    gap: 25px;
    flex-direction: column;
    overflow-y: scroll;
}

.PostBtn {
    position: relative;
    width: 100%;
    padding: 25px;
    border: 0px none;
    border-radius: 25px;
    background-color: #1A2029;
}

.PostBtn>p {
    font-family: 'galmuri11';
    font-size: 32px;
    color: white;
    padding-right: 125px;
    text-align: left;
}

.ListBinderContainer {
    position: absolute;
    top: 25px;
    right: 25px;
    font-family: 'galmuri11';
    display: flex;
}

.ListBinderContainer>p {
    font-size: 18px;
    margin-right: 5px;
}

.ListBinder {
    height: 24px;
    width: 24px;
    border-radius: 12px;
    float: right;
}

.PostImg {
    width: 100%;
}

.ListDesc {
    font-size: 18px !important;
    color: #BBB !important;
}

.TimeStamp {
    margin-top: 11px;
    line-height: 32px;
}

.TimeStamp>img {
    float: left;
}

.TimeStamp>p {
    margin-left: 10px;
    font-family: 'galmuri11';
    font-size: 18px;
    color: white;
    float: left;
}

.PostImgBtn {
    position: relative;
    padding: 0;
    border: 0 none;
    border-radius: 25px;
    margin-bottom: calc(160px - 40px);
}

.PostBtnPos {
    position: absolute;
    bottom: calc(40px - 160px);
    width: calc(100% - 50px);
}

.SearchManager {
    min-height: 846px;
    width: calc(100% - 740px - 25px - 60px);
    padding: 0 30px;
    float: right;
}

.SearchBox {
    position: relative;
    height: 45px;
    width: 100%;
    /* border-bottom: 5px solid black; */
}

.SearchBox>img {
    margin: 10px;
}

.SearchBox::after {
    content: '';
    position: absolute;
    bottom: -2.5px;
    left: 0;
    width: 100%;
    border-bottom: 5px solid black;
}

.ManagerList {
    width: 100%;
    margin-top: 65px;
    display: flow-root;
}

.ArchiveList {
    margin-top: 50px;
}

.TagTitle {
    display: flow-root;
}

.TagTitle>img{
    float: left;
}

.TagTitle>p {
    float: left;
    margin-left: 10px;
    font-family: 'galmuri11';
    font-size: 24px;
}

.TagContainer>a {
    font-family: 'galmuri11';
    font-size: 20px;
    color: #707070;
}

.ArchiveBtn {
    height: 50px;
    width: 100%;
    border: 0px none;
    border-radius: 15px;
    background-color: #1A2029;
    line-height: 50px;
    font-family: 'galmuri11';
    font-size: 22px;
    color: white;
}

.Years {
    float: left;
    margin-left: 16px;
}

.Go {
    float: right;
    margin-right: 16px;
}

#BlogTitle {
    position: absolute;
    bottom: 25px;
    left: 50px;
    font-size: 64px;
    font-family: 'galmuri11';
    float: left;
    background: linear-gradient(110deg, #FFD467 0%, #88E4EA 25%, #E869B5 50%, #CC86E4 75%, #6989E5 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#BlogTitle>span {
    background: white;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#CurTitle {
    position: absolute;
    bottom: 25px;
    right: 50px;
    font-size: 32px;
    font-family: 'galmuri11';
    float: right;
    color: white;
}

#PostSearch {
    height: 100%;
    width: calc(100% - 44px - 5px);
    padding: 0px 0px 0px 5px;
    border: 0px none;
    float: left;
    font-family: 'galmuri11';
    font-size: 20px;
}

#PostSearch:focus {
    outline: none;
}

#PostSeacrh::placeholder {
    color: #707070;
}

#TagContainer {
    width: 100%;
    margin-top: 17px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 10px;
}

#TagContainer>a {
    margin-block-start: 0em;
    margin-block-end: 0em; 
}

#ArchiveContainer {
    margin-top: 17px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}