.TitleWrapper {
    position: relative;
    display: flow-root;
    font-family: 'galmuri11';
    margin-bottom: 51px;
}

.SeriesWrapper {
    width: 100%;
    display: flow-root;
    font-family: 'galmuri11';
}

.PpTitle {
    font-family: 'galmuri11';
    font-size: 64px;
}

.PostWrapper {
    float: left;
}

.InfoWrapper {
    position: absolute;
    bottom: calc(6px - 32px);
    display: flow-root;
    line-height: 32px;
}

.ForMaintenance {
    font-size: 18px;
    margin-left: 25px;
}

.DeleteBtn {
    height: 32px;
    float: left;
    margin-left: 15px;
    border: 0px none;
    padding: 0px;
    background-color: white;
    line-height: 32px;
}

.TagWrapper {
    height: fit-content;
    float: left;
    display: flow-root;
    line-height: 32px;
}

.TagWrapper>img {
    float:left;
}

.TagContainerOnPost {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 10px;
}

.NameWrapper {
    position: relative;
}

.CmtBtnWrapper {

}

.NameWrapper::after {
    content: '';
    position: absolute;
    bottom: -2.5px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: black;
}

.CommentContainer {
    margin-top: 48.5px;
    display: flex;
    gap: 25px;
    flex-direction: column;
}

.Comments {
    font-family: 'galmuri11';
    font-size: 24px;
}

.Nickname {
    float: left;
    margin-right: 16px;
}

.CommentBody {
    float: left;
    color: #505050;
}

.CmtTimestamp {
    display: flow-root;
}

.CmtTimestamp>img {
    float:left;
}

.CmtTimestamp>p {
    float: left;
    margin-left: 5px;
    font-size: 20px;
    color: #707070;
    line-height: 27px;
}


#CommentInput {
    resize: none;
    height: 40px;
    width: calc(100% - 4px);
    border: 0px none;
    border-bottom: 5px solid black;
    font-family: 'galmuri11';
    font-size: 24px;
    padding: 0;
    color: black;
}

#CommentInput:focus {
    outline: none;
}

#CommentInput::placeholder {
    color: #707070;
}

#NameInput {
    height: 45px;
    width: 305px;
    border: 0px none;
    float: left;
    font-family: 'galmuri11';
    font-size: 20px;
}

#NameInput:focus {
    outline: none;
}

#NameInput::placeholder {
    color: #707070;
}

#CommentBtn {
    display: flow-root;
    height: 45px;
    width: 164px;
    border: 0px none;
    padding: 0;
    background-color: white;
    font-family: 'galmuri11';
    font-size: 20px;
    color: #707070;
}

#CommentBtn>p {
    float: left
}

#CommentBtn>img {
    float: right;
}

